.header {
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-secondary);
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
}
